.btn-yellow{
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #4c4946;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    font-weight: 400;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;

    i{
        margin-left: 0.5rem;
    }

    &:hover{
        background-color: #191919;
        border-color: #191919;
        color: #F0EFE9;
    }
}

.btn-black{
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    font-weight: 400;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    i{
        margin-left: 0.5rem;
    }

    &:hover{
        background-color: #FFFFFF;
        color: #191919;
    }
}

.btn-transparent{
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    font-weight: 400;
    border-radius: 2rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    i{
        margin-left: 0.5rem;
    }

    &:hover{
        background-color: #191919;
        color: #F0EFE9;
    }
}

.section-title {
    padding-top: 70px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
    }

    p {
        color: red;
        margin-bottom: 10px;
    }

    h2 {
        text-wrap: wrap;
        font-family: 'DM Sans', sans-serif;
        color: #191919;
        font-weight: 700;
        font-size: 35px;

        @media (min-width: 1200px) {
            font-size: 45px;
        }
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots {
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    gap: 15px;
    
    .dot {
        height: 12px;
        width: 12px;
        background-color: #C3AB71;
        border-radius: 50%;
        display: inline-block;

        &.second {
            background-color: #191919;
        }
    }
}