.showcase {
    position: relative;
    background-color: #F0EFE9;
    z-index: 0;

    .background-lines {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        max-width: 80%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        @media(min-width: 1200px){
            text-align: left;
        }

        .content {
            padding-bottom: 30px;
            color: RGBA(25,25,25,0.8 );

            h1 {
                color: #191919;
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 50px;
                text-align: center;

                @media(min-width: 768px){
                    font-size: 70px;
                }

                @media(min-width: 1200px){
                    font-size: 86px;
                    text-align: left;
                }
            }

            p {
                font-size: 15px;
                padding-top: 1rem;
                padding-bottom: 1rem;
                text-align: center;

                @media(min-width: 768px){
                    font-size: 20px;
                }

                @media(min-width: 1200px){
                    text-align: left;
                }
            }

            .buttons {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                justify-content: center;

                @media(min-width: 1200px){
                    justify-content: left;
                }
            }
        }

        img {
            display: none;
            min-height: 500px;

            @media(min-width: 1200px){
                display: block;
                margin-right: -50px;

            }
        }
    }
}