.article-and-news {

    .title-and-btn {
        display: block;
        padding-bottom: 45px;
        text-align: center;

        @media(min-width: 1000px) {
            display: flex;
            justify-content: space-between;
            padding-bottom: 35px;
            text-align: left;
        }
        
        .section-title {
            padding-bottom: 30px;
            margin-left: 0px;

            @media(min-width: 1000px) {
                padding-bottom: 0px;
                margin-left: 100px;
            }

            @media(min-width: 1400px) {
                padding-bottom: 0px;
                margin-left: 0px;
            }
        }

        .btn-transparent {
            margin-top: auto;
        }
    }

    .articles-container {
        display: grid;
        padding-left: 0px;
        padding-right: 0px;

        @media(min-width: 768px) {
            padding-left: 130px;
            padding-right: 100px;
        }

        @media(min-width: 1400px) {
            display: flex;
            gap: 30px;
            padding: 0px;
        }

        .article {
            position: relative;
            display: inline;

            @media(min-width: 1000px) {
                display: grid;
                grid-template-rows: auto auto 1fr;
                grid-template-areas: "img h4"
                                     "img h3"
                                     "img text";
            }

            @media(min-width: 1400px) {
                display: inline;
            }

            img {
                grid-area: img;
                padding: 0px 20px 20px 0px;
                width: 100%;

                @media(min-width: 440px) {
                    width: auto;
                }

                @media(min-width: 1400px) {
                    padding-bottom: 0px;
                    padding-right: 0px;
                }
            }

            h4 {
                grid-area: h4;
                color: #6A6C71;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 16px;
                margin-top: -10px;

                @media(min-width: 1000px) {
                    margin-top: 28px;
                }
            }

            h3 {
                grid-area: h3;

                @media(min-width: 1400px) {
                    margin-top: 20px;
                }
            }

            .text {
                grid-area: text;
                color: RGBA(25,25,25,0.7 );
                padding-bottom: 40px;

                @media(min-width: 1400px) {
                    margin-top: 20px;
                }
            }

            .date {
                position: absolute;
                background-color: #F9D783;
                line-height: 18px;
                padding: 18px 11px 8px 14px;
                top: 16px;
                left: 16px;

                .month {
                    margin-bottom: 0;
                }

                span {
                    font-family: 'DM sans', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }
    }

    .dots {
        padding-bottom: 90px;
        margin-top: 0px;

        @media(min-width: 1000px) {
            margin-top: 50px;
        }
        
        .dot {
            background-color: #D1D1D1;

            &.first {
                background-color: #191919;
            }
        }
    }
}