header {
  background-color: #F0EFE9;
  padding: 16px;
  position: relative;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
header .container .btn-menubars {
  z-index: 2;
  grid-area: bars;
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .btn-menubars.white {
  color: #DAD9D3;
}
header .container .hide {
  display: none;
}
header .container .mobile-menu {
  z-index: 1;
  position: absolute;
  background-color: #191919;
  left: 0;
  top: 0;
  width: 100vw;
}
header .container .mobile-menu .container {
  display: flex;
  flex-direction: column;
}
header .container .mobile-menu .container .logotype-white {
  margin-left: 15px;
  margin-top: 15px;
  align-self: start;
  padding-bottom: 20px;
}
header .container .mobile-menu .container .menu-item {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  color: #DAD9D3;
  text-decoration: none;
  text-align: center;
  width: 100vw;
}
header .container .mobile-menu .container .menu-item:hover {
  background-color: #222222;
}
header .container .mobile-menu .container .menu-item.active {
  background-color: #222222;
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
header .container .contactinformation-bar {
  grid-area: cib;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .contactinformation-bar {
    display: flex;
  }
}
header .container .contactinformation-bar .contact-box {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #d3cfc9;
}
header .container .contactinformation-bar .contact-box i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
header .container .contactinformation-bar .contact-box.last {
  border-right: none;
}
header .container .socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  header .container .socialmedia-bar {
    display: block;
  }
}
header .container .socialmedia-bar a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
  transition: color 0.2s ease-in-out;
}
header .container .socialmedia-bar a:hover {
  color: #7c7c7c;
}
header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  border-top: 1px solid #DAD9D3;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: flex;
  }
}
header .container .menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu nav a.active {
  font-weight: 500;
}
header .container .menu nav a.active::after, header .container .menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}