.container {

    .section-title {
        padding-bottom: 40px;
    }

    .article-info {
        font-family: 'DM Sans', sans-serif;
        color: #191919;
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 60px;

        .dot {
            height: 12px;
            width: 12px;
            background-color: #F9D783;
            border-radius: 50%;
            display: inline-block;
            margin: 0 25px;
        }
    }

    .body {
        display: grid;
        grid-template-columns: auto;
        gap: 86px;
        padding-bottom: 20px;

        @media (min-width: 1400px) {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 86px;
        }

        .left {
            color: RGBA(25,25,25,0.7 );
            max-width: 95vw;

            img {
                max-width: 90vw;
                height: auto;

                @media(min-width: 1000px) {
                    padding-right: 55px;
                    max-width: 813px;
                    height: 500px;
                }
            }

            .quote {
                display: flex;
                gap: 14px;
                font-size: 22px;
                font-weight: 500;
                color: #191919;
                padding: 30px 0;
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: 12px;
                padding-top: 40px;
                padding-bottom: 0;

                @media (min-width: 1400px) {
                    padding-bottom: 64px;
                }

                .tag {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    font-weight: 500;
                    background-color: RGBA(25,25,25,0.05 );
                    height: 40px;
                    border-radius: 20px;
                    min-width: 80px;
                    padding: 0 30px;
                }
            }
        }

        .right {
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            color: #191919;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @media (min-width:768px) {
                display: grid;
                align-items:baseline;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "search search"
                                     "recent categories";
            }

            @media (min-width:1400px) {
                width: 420px;
                display: flex;
                flex-direction: column;
            }

            .short-border {
                position: absolute;
                border-top: 2px solid #191919;
                left: 40px;
                right: 335px;
                top: 65px;
            }

            h3 {
                font-weight: 700;
                font-size: 22px;
            }

            .searchbar {
                grid-area: search;
                display: flex;
                align-items: center;
                background-color: #F3F3F3;
                height: 56px;
                border-radius: 28px;
                margin-bottom: 40px;

                input {
                    margin-left: 15px;
                    outline: none;
                    border: none;
                    background-color: #F3F3F3;
                    width: 335px;
                }

                i {
                    margin-left: 35px;
                    color: #191919;
                }
            }

            .recent-posts {
                grid-area: recent;
                padding: 40px;
                border: 1px solid RGBA(25,25,25,0.2 );
                position: relative;
                width: 340px;

                @media (min-width:1000px) {
                    width: 420px;
                }

                .recent-post {
                    margin-top: 14px;

                    h4 {
                        font-weight: 700;
                        font-size: 16px;
                    }
    
                    p {
                        font-size: 14px;
                        font-weight: 400;
                        color: RGBA(25,25,25,0.7 );
                    }
                }
            }

            .categories {
                grid-area: categories;
                justify-self: end;
                padding: 40px;
                position: relative;
                border: 1px solid RGBA(25,25,25,0.2 );
                width: 340px;
                margin-top: 40px;

                @media (min-width:1000px) {
                    width: 420px;
                    margin-top: 0;
                }

                @media (min-width:1400px) {
                    margin-top: 40px;
                }

                span {
                    font-weight: 400;
                }
            }
        }
    }
}

    