.about-company {
    display: block;
    padding-top: 70px;
    padding-bottom: 80px;

    @media(min-width: 1000px) {
        display: flex;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .image-and-square {
        position: relative;
        
        img {
            display: none;
            
            @media(min-width: 600px) {
            display: block;
            padding-right: 20px;
            margin-left: 0px;
            }

            @media(min-width: 768px) {
                margin-left: 56px;
            }

            @media(min-width: 1400px) {
                padding-right: 200px;
            }
        }

        .white-lines {
            position: absolute;
            left: -35px;
            top: 35px;
            display: none;
            
            @media(min-width: 600px) {
                display: block;
            }
        }

        .blue-box {
            background: #BEEBFF;
            width: 100%;
            left: 0;
            bottom: 40px;
            padding: 30px 17px 55px 24px;
            margin: auto;

            @media(min-width: 600px) {
                position: absolute;
                width: 368px;
            }

            @media(min-width: 1200px) {
                bottom: 40px;
            }

            h3 {
                font-size: 20px;

                span {
                    font-size: 16px;
                    color: #F94D1C;
                }
            }

            p {
                margin-top: 20px;
                margin-bottom: 0;
                font-weight: 500;
            }
        }
    }

    .title-and-text {
        text-align: center;
        margin-top: 40px;

        @media(min-width: 1000px) {
            text-align: left;
            margin-top: 0px;
        }

        .section-title {
            padding-top: 0;
            padding-bottom: 37px;
        }

        p {
            line-height: 28px;

            @media(min-width: 1200px) {
                line-height: 32px;
            }
        }

        .buttons-and-text {
            display: grid;
            justify-content: center;
            margin-top: 44px;

            @media(min-width: 373px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            @media(min-width: 1000px) {
                display: grid;
                justify-content: left;
                margin-top: 25px;
            }

            @media(min-width: 1200px) {
                display: flex;
                justify-content: left;
                margin-top: 84px;
            }
            
            .video {
                display: flex;
                margin-top: 20px;           

                @media(min-width: 373px) {
                    margin-left: 40px;
                    margin-top: 0;
                }

                @media(min-width: 1000px) {
                    margin-top: 30px;
                    margin-left: 0px;
                }

                @media(min-width: 1200px) {
                    margin-top: 0;
                    margin-left: 40px;
                }

                .btn-video {
                    background-color: #FFFFFF;
                    border-radius: 50%;
                    padding: 9px 18px;
                    border: 1px solid #191919;
                    transition: font-size 0.05s ease-in-out, padding 0.05s ease-in-out;
                    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;        
                }

                &:hover {
                    cursor: pointer;

                    .btn-video {
                        background-color: #191919;
                        color: #F0EFE9;
                        font-size: 18px;
                        padding: 10.5px 17.2px 7.5px;
                    }
                }
    
                p {
                    margin-left: 16px;
                    margin-bottom: 0;
                    align-self: center;
                }
            }
        }
    }
}